{% extends '_base.html' %}

{% block content %}

<div class="container">
    <div class="col p-3 my-3 bg-secondary text-white text-center rounded border">
      <h1 class="text-xl text-bold"><strong>404 - Page not found</strong></h1>
      <h6><br>
        <p class="text-sm text-center">
        Looks like you found a flaw in the matrix...
        </p>
      </h6>
      <form action="/" enctype="multipart/form-data" method="get" autocomplet="off">
      <input class="btn bg_btn active" type="submit" name="submit" value="Return to home page">
      </form> 
      </div>
  </div><br>

{% endblock %}